<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/index.css" />
    <title>Presentation Generator</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4 text-center">Presentation Generator</h1>
      <form method="post" action="/generate">
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
        </div>
        <div class="form-group">
          <label for="slides">Number of Slides:</label>
          <select class="form-control" id="slides" name="slides" required>
            <option value="1">1 Slide</option>
            <option value="2">2 Slides</option>
            <option value="3">3 Slides</option>
            <option value="4">4 Slides</option>
            <option value="5">5 Slides</option>
            <option value="6">6 Slides</option>
            <option value="7">7 Slides</option>
            <option value="8">8 Slides</option>
            <option value="9">9 Slides</option>
            <option value="10">10 Slides</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Generate Slides
        </button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
